workflows/social-media-intelligence-platform-basic-postcrawl-anthropic.json
{
  "name": "social-media-intelligence-basic-postcrawl-anthropic",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "3833640c-0c15-4987-87e9-a3dc7c91158c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -1520,
        60
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "topics",
              "name": "Topics",
              "type": "string",
              "value": "mcp\nagents"
            },
            {
              "id": "min-engagement",
              "name": "Min_Engagement_Score",
              "type": "number",
              "value": 5
            },
            {
              "id": "max-results",
              "name": "Max_Results_Per_Topic",
              "type": "number",
              "value": 5
            }
          ]
        },
        "options": {}
      },
      "id": "1b59c570-bacd-4c70-bbb0-3f638df21e2c",
      "name": "Set Configuration",
      "type": "n8n-nodes-base.set",
      "position": [
        -1320,
        60
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "jsCode": "const topicsString = $json.Topics;\nconst minEngagement = $json.Min_Engagement_Score;\nconst maxResults = $json.Max_Results_Per_Topic;\n\nconst topicsArray = topicsString.split('\\n')\n  .map(topic => topic.trim())\n  .filter(topic => topic.length > 0);\n\nconst items = topicsArray.map(topic => {\n  return { \n    json: { \n      Topic: topic,\n      Min_Engagement: minEngagement,\n      Max_Results: maxResults\n    } \n  };\n});\n\nreturn items;"
      },
      "id": "f0157eb2-2c72-46ef-b9ce-272c7accdf71",
      "name": "Split Topics",
      "type": "n8n-nodes-base.code",
      "position": [
        -1140,
        60
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://edge-alpha.postcrawl.com/search-and-extract",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.Topic }}\",\n  \"page\": 1,\n  \"results\": {{ $json.Max_Results }},\n  \"sources\": [\"reddit\", \"tiktok\"],\n  \"response_mode\": \"raw\",\n  \"detailed\": true\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "11e9ffee-c8b1-4bc6-a2ad-bfe8487ab1ec",
      "name": "PostCrawl Search & Extract",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -940,
        60
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "8caVKMhZVU8TtRJW",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Process and limit comments data to prevent token overflow\nconst MAX_COMMENTS = 3;\nconst MAX_COMMENT_LENGTH = 50;\n\nfunction processComments(comments) {\n  if (!comments || !Array.isArray(comments)) {\n    return [];\n  }\n  \n  // Sort comments by engagement (likes, replies) if available\n  const sortedComments = comments\n    .filter(comment => comment && (comment.text || comment.content))\n    .sort((a, b) => {\n      const aEngagement = (a.likes || 0) + (a.replies || 0);\n      const bEngagement = (b.likes || 0) + (b.replies || 0);\n      return bEngagement - aEngagement;\n    })\n    .slice(0, MAX_COMMENTS);\n  \n  // Truncate long comments and keep essential data\n  return sortedComments.map(comment => {\n    const text = comment.text || comment.content || '';\n    return {\n      text: text.length > MAX_COMMENT_LENGTH ? text.substring(0, MAX_COMMENT_LENGTH) + '...' : text,\n      author: comment.author || 'Unknown',\n      likes: comment.likes || 0,\n      replies: comment.replies || 0,\n      sentiment: comment.sentiment || null\n    };\n  });\n}\n\n// Process the input data\nconst processedData = {\n  ...($json),\n  Comments: processComments($json.Comments),\n  Comments_Count: $json.Comments ? $json.Comments.length : 0,\n  Processed_Comments_Count: processComments($json.Comments).length\n};\n\nreturn { json: processedData };"
      },
      "id": "8f9e2d3c-1a2b-3c4d-5e6f-7890abcdef12",
      "name": "Process Comments",
      "type": "n8n-nodes-base.code",
      "position": [
        -670,
        60
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following social media post and its engagement:\n\nPOST DETAILS:\nPlatform: {{ $json.Platform }}\nTopic: {{ $json.Topic }}\nTitle/Content: {{ $json.Title }}\n{{ $json.Content ? 'Full Content: ' + $json.Content : '' }}\nAuthor: {{ $json.Author }}\nEngagement Score: {{ $json.Engagement_Score }}\nTotal Comments: {{ $json.Comments_Count }}\nProcessed Comments: {{ $json.Processed_Comments_Count }}\nDate: {{ $json.Date }}\nURL: {{ $json.URL }}\n\nTOP COMMENTS (limited to most engaging):\n{{ JSON.stringify($json.Comments, null, 2) }}\n\nProvide analysis in the following format within <comments_analysis> tags:\n\n**CONTENT OVERVIEW:**\n- Platform: [Platform]\n- Engagement Level: [High/Medium/Low based on metrics]\n- Viral Indicators: [What made this content popular]\n\n**SENTIMENT ANALYSIS:**\n- Overall Sentiment: [Positive/Negative/Neutral] (Score: X/10)\n- Key Emotional Drivers: [List primary emotions]\n- Audience Reception: [How people are responding]\n\n**ENGAGEMENT PATTERNS:**\n- Top Discussion Points: [Most talked about aspects]\n- Controversial Elements: [If any]\n- Community Consensus: [Areas of agreement/disagreement]\n\n**TREND INSIGHTS:**\n- Why This is Trending: [Analysis of popularity factors]\n- Audience Demographics: [Who is engaging]\n- Content Virality Factors: [What makes it shareable]\n\n**PR OPPORTUNITY SIGNALS:**\n- Story Potential: [High/Medium/Low]\n- Key Angles: [Potential story directions]\n- Timing Considerations: [Best time to act]\n- Risk Factors: [Potential issues to consider]\n\n**ACTIONABLE INSIGHTS:**\n- Immediate Opportunities: [Quick wins]\n- Content Gaps: [Missing perspectives]\n- Expert Needs: [Required expertise]\n- Next Steps: [Recommended actions]",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert Social Media Intelligence Analyst. Analyze social media content and engagement patterns to identify trends, sentiment, and PR opportunities across Reddit and TikTok platforms."
            }
          ]
        }
      },
      "id": "2adc2e0c-aeb2-4dbe-851c-6b8581862a88",
      "name": "Comments Analysis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -400,
        -140
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on the social media content and comments analysis, provide strategic content evaluation:\n\nORIGINAL CONTENT:\nPlatform: {{ $json.Platform }}\nTopic: {{ $json.Topic }}\nTitle: {{ $json.Title }}\nContent: {{ $json.Content }}\nEngagement: {{ $json.Engagement_Score }}\n\nCOMMENTS ANALYSIS:\n{{ $('Comments Analysis').item.json.text.replace(/[\\s\\S]*<comments_analysis>/, '').replace(/<\\/comments_analysis>[\\s\\S]*/, '') }}\n\nProvide analysis within <content_analysis> tags:\n\n**CONTENT EVALUATION:**\n- Content Quality: [Assessment of post quality]\n- Viral Elements: [What made it spread]\n- Platform Fit: [How well it suits the platform]\n- Timing Factor: [Why it worked now]\n\n**NARRATIVE OPPORTUNITIES:**\n- Main Story Angles: [3-5 potential angles]\n- Unique Perspectives: [Underexplored viewpoints]\n- Expert Commentary Needs: [Required expertise]\n- Supporting Data Needed: [Research requirements]\n\n**COMPETITIVE LANDSCAPE:**\n- Current Coverage: [What's already been said]\n- Market Gaps: [Unexplored areas]\n- Differentiation Opportunities: [How to stand out]\n- First-Mover Potential: [Time-sensitive opportunities]\n\n**AUDIENCE INSIGHTS:**\n- Target Demographics: [Who cares about this]\n- Pain Points: [What problems does this address]\n- Information Needs: [What audience wants to know]\n- Engagement Triggers: [What drives participation]\n\n**STRATEGIC RECOMMENDATIONS:**\n- Content Strategy: [How to leverage this trend]\n- Media Targets: [Best publications/channels]\n- Messaging Framework: [Key messages]\n- Resource Requirements: [What's needed to execute]\n\n**TREND FORECAST:**\n- Longevity Prediction: [How long this will last]\n- Evolution Patterns: [How it might develop]\n- Related Trends: [Connected opportunities]\n- Risk Assessment: [Potential downsides]",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert Content Strategist and Trend Analyst. Evaluate social media content for strategic opportunities, narrative potential, and competitive positioning."
            }
          ]
        }
      },
      "id": "e579583d-21e4-420e-8a24-e806de0b6eb9",
      "name": "Content Analysis",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -80,
        40
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate a comprehensive PR strategy report based on the social media analysis:\n\nSOCIAL MEDIA POST:\nPlatform: {{ $json.Platform }}\nTopic: {{ $json.Topic }}\nTitle: {{ $json.Title }}\nEngagement: {{ $json.Engagement_Score }} | Comments: {{ $json.Comments_Count }}\nURL: {{ $json.URL }}\n\nCOMMENTS ANALYSIS:\n{{ $('Comments Analysis').item.json.text.replace(/[\\s\\S]*<comments_analysis>/, '').replace(/<\\/comments_analysis>[\\s\\S]*/, '') }}\n\nCONTENT ANALYSIS:\n{{ $('Content Analysis').item.json.text.replace(/[\\s\\S]*<content_analysis>/, '').replace(/<\\/content_analysis>[\\s\\S]*/, '') }}\n\nCreate a strategic report within <stories_report> tags:\n\n# SOCIAL MEDIA TREND ANALYSIS REPORT\n\n## EXECUTIVE SUMMARY\n**Platform:** {{ $json.Platform }}\n**Topic:** {{ $json.Topic }}\n**Engagement Level:** [High/Medium/Low]\n**Strategic Priority:** [High/Medium/Low]\n**Recommended Action:** [Immediate/Monitor/Long-term]\n\n## TREND OVERVIEW\n**What's Happening:** [Brief description]\n**Why It Matters:** [Significance explanation]\n**Audience Size:** [Reach assessment]\n**Viral Potential:** [Spread prediction]\n\n## PR STORY OPPORTUNITIES\n\n### IMMEDIATE OPPORTUNITIES (Next 24-48 hours)\n1. **Story Angle:** [Compelling headline]\n   - **Why Now:** [Timing rationale]\n   - **Target Media:** [Specific publications]\n   - **Required Assets:** [What's needed]\n   - **Success Metrics:** [How to measure]\n\n2. **Story Angle:** [Second opportunity]\n   - **Why Now:** [Timing rationale]\n   - **Target Media:** [Specific publications]\n   - **Required Assets:** [What's needed]\n   - **Success Metrics:** [How to measure]\n\n### MEDIUM-TERM OPPORTUNITIES (1-2 weeks)\n[Additional strategic stories with full details]\n\n## STRATEGIC RECOMMENDATIONS\n\n### CONTENT STRATEGY\n- **Primary Message:** [Core narrative]\n- **Supporting Points:** [Key arguments]\n- **Expert Positioning:** [Thought leadership angle]\n- **Data Requirements:** [Research needed]\n\n### MEDIA STRATEGY\n- **Tier 1 Targets:** [Top publications]\n- **Tier 2 Targets:** [Secondary outlets]\n- **Exclusive Potential:** [Unique story opportunities]\n- **Timing Considerations:** [Optimal launch windows]\n\n### RISK MANAGEMENT\n- **Potential Risks:** [Identified concerns]\n- **Mitigation Strategies:** [How to address]\n- **Monitoring Needs:** [What to watch]\n- **Contingency Plans:** [Backup strategies]\n\n## EXECUTION ROADMAP\n\n### IMMEDIATE ACTIONS (Today)\n- [ ] [Specific task]\n- [ ] [Specific task]\n- [ ] [Specific task]\n\n### THIS WEEK\n- [ ] [Weekly goal]\n- [ ] [Weekly goal]\n- [ ] [Weekly goal]\n\n### SUCCESS METRICS\n- **Coverage Goals:** [Quantifiable targets]\n- **Engagement Targets:** [Expected reach]\n- **Business Impact:** [Commercial objectives]\n- **Timeline:** [Expected delivery]\n\n## COMPETITIVE ANALYSIS\n- **Current Players:** [Who's already covering this]\n- **Coverage Gaps:** [Unexplored angles]\n- **Differentiation Strategy:** [How to stand out]\n- **First-Mover Advantage:** [Timing benefits]\n\n---\n*Report generated from {{ $json.Platform }} analysis | Engagement: {{ $json.Engagement_Score }} | Date: {{ new Date().toISOString().split('T')[0] }}*",
        "messages": {
          "messageValues": [
            {
              "message": "You are an elite PR Strategy Director. Create comprehensive, actionable PR strategy reports that identify immediate opportunities, provide clear execution roadmaps, and deliver measurable business value."
            }
          ]
        }
      },
      "id": "99feb43c-7ac1-4edf-9580-13b09c37524d",
      "name": "Generate Stories Report",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        240,
        -120
      ],
      "typeVersion": 1.5
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "postcrawl-key",
              "name": "PostCrawl_API_Key",
              "type": "string",
              "value": "={{ $secrets.POSTCRAWL_API_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dccb9a0a-0343-4d8f-a672-dfbf993c53fe",
      "name": "Secrets",
      "type": "n8n-nodes-base.set",
      "position": [
        -1520,
        -160
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "model": "claude-3-haiku-20240307",
        "options": {
          "maxTokensToSample": 4000,
          "temperature": 0.3
        }
      },
      "id": "96b80bd9-c7df-4878-bc93-e8213ea86193",
      "name": "Anthropic Chat Model 1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        -360,
        240
      ],
      "typeVersion": 1.2,
      "credentials": {
        "anthropicApi": {
          "id": "11oDxBbNKwZKP938",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": "claude-3-haiku-20240307",
        "options": {
          "maxTokensToSample": 4000,
          "temperature": 0.3
        }
      },
      "id": "973f08e3-7608-44cc-b524-96a925a0e38d",
      "name": "Anthropic Chat Model 2",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        -140,
        240
      ],
      "typeVersion": 1.2,
      "credentials": {
        "anthropicApi": {
          "id": "11oDxBbNKwZKP938",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": "claude-3-haiku-20240307",
        "options": {
          "maxTokensToSample": 4000,
          "temperature": 0.5
        }
      },
      "id": "f5738ee9-0aef-4389-ba22-44e173ddaa93",
      "name": "Anthropic Chat Model 3",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "position": [
        80,
        240
      ],
      "typeVersion": 1.2,
      "credentials": {
        "anthropicApi": {
          "id": "11oDxBbNKwZKP938",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "final-report",
              "name": "Final_Report",
              "type": "string",
              "value": "=# SOCIAL MEDIA INTELLIGENCE REPORT\n\n**Platform:** {{ $json.Platform }}\n**Topic:** {{ $json.Topic }}\n**Generated:** {{ new Date().toISOString().split('T')[0] }}\n**URL:** {{ $json.URL }}\n\n---\n\n## POST DETAILS\n- **Title:** {{ $json.Title }}\n- **Author:** {{ $json.Author }}\n- **Engagement Score:** {{ $json.Engagement_Score }}\n- **Total Comments:** {{ $json.Comments_Count }}\n- **Processed Comments:** {{ $json.Processed_Comments_Count }}\n- **Date:** {{ $json.Date }}\n\n{{ $json.Content ? '**Content:**\\n' + $json.Content + '\\n\\n' : '' }}---\n\n## COMMENTS ANALYSIS\n{{ $('Comments Analysis').item.json.text }}\n\n---\n\n## CONTENT ANALYSIS\n{{ $('Content Analysis').item.json.text }}\n\n---\n\n## PR STRATEGY REPORT\n{{ $('Generate Stories Report').item.json.text }}\n\n---\n\n*Report generated from {{ $json.Platform }} | Processing: {{ $json.Processed_Comments_Count }}/{{ $json.Comments_Count }} comments*"
            },
            {
              "id": "summary",
              "name": "Summary",
              "type": "string",
              "value": "=Social media analysis completed for {{ $json.Topic }} on {{ $json.Platform }}. Engagement: {{ $json.Engagement_Score }}, Comments analyzed: {{ $json.Processed_Comments_Count }}/{{ $json.Comments_Count }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8a9b0c1d-2e3f-4a5b-6c7d-8e9f0a1b2c3d",
      "name": "Generate Final Report",
      "type": "n8n-nodes-base.set",
      "position": [
        1620,
        200
      ],
      "typeVersion": 3.4
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Configuration": {
      "main": [
        [
          {
            "node": "Split Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Topics": {
      "main": [
        [
          {
            "node": "PostCrawl Search & Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PostCrawl Search & Extract": {
      "main": [
        [
          {
            "node": "Process Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Comments": {
      "main": [
        [
          {
            "node": "Comments Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comments Analysis": {
      "main": [
        [
          {
            "node": "Content Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Analysis": {
      "main": [
        [
          {
            "node": "Generate Stories Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Stories Report": {
      "main": [
        [
          {
            "node": "Generate Final Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model 1": {
      "ai_languageModel": [
        [
          {
            "node": "Comments Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model 2": {
      "ai_languageModel": [
        [
          {
            "node": "Content Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model 3": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Stories Report",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "70e28214-b721-42cd-bfd6-d00fae183854",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6e1130bae46ac586f0d46d34517cdc150bf178eb065587f8ddde4719ef30d06d"
  },
  "id": "Z2gQnKG9eUZKD54P",
  "tags": []
}